.layout-container {
   display: flex;
   min-height: 100vh;
   background-color: #e3e7eb;
}

.brand-icon-box {
   background-color: #2563eb;
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 12px;
}

.content-area {
   margin-left: 280px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   width: 100%;
}

main {
   flex-grow: 1;
   padding: 2rem;
}

.footer-main {
   background-color: #cad1e0;
   border-top: 1px solid #0f172a;
   padding: 1.5rem 2rem;
   color: #64748b;
   font-size: 0.95rem;
   width: 100%;
}